body {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background: #f5f5f5;
}

h1 {
    border-bottom: 1px solid black;
    margin: 100px;
    box-shadow: 0 0 10px #202020;
}

.main {
    margin: 100px auto;
    text-align: center;
}

.main p {
    width: 10%;
    height: 50%;
    padding: 20px;
    margin: 30px auto;
    font-size: 18px;
    border: 1px solid #202020;
}

button{
    padding: 10px;
    background: pink;
    text-shadow: 1px 1px 1px #202020;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    border: 1px solid #202020;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background: #202020;
    color: #f5f5f5;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}